<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>PamPer Paws</title>
  </head>
  <body style="overflow-x: hidden;">
    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">Pamper Paws</a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link active-link">Home</a>
            </li>
            <li class="nav__item">
              <a href="#about" class="nav__link">About us</a>
            </li>
            <li class="nav__item">
              <a href="#services" class="nav__link">Services</a>
            </li>
            <li class="nav__item">
              <a href="#contact" class="nav__link">Contact us</a>
            </li>

            <!-- <i class='bx bx-toggle-left change-theme' id="theme-button"></i> -->
          </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-grid-alt"></i>
        </div>

        <a href="./login/login.html" target="_blank" class="button button__header">Login | Sign Up</a>
      </nav>
    </header>

    <main class="main">
      <!--=============== HOME ===============-->
      <section class="home section" id="home">
        <div class="home__contain">
          <div class="home__data">
            <h1 class="home__title">Pamper Paws</h1>
            <p class="home__description">
              At Pamper Paws we care for your pet as if it were our own.
              Building a thriving ecosystem for your companion!
            </p>

            <a href="#" class="button">Get Started</a>
          </div>
        </div>
      </section>

      <!--=============== ABOUT ===============-->
      <section class="about section container" id="about">
        <div class="about__container grid">
          <div class="about__data">
            <h2 class="section__title-center">
              Find Out A Little More <br />
              About Us
            </h2>
            <p class="about__description">
              We love your pet as much as you do! <br> We at PamperPaws are trying to
              bridge this gap between us and our pets. We want to provide the
              perfect ecosystem for your pet by giving you all kinds of services
              and products.
              <ul>
                <li>
                  <i class='bx bxs-dog'></i> Want to find the right
                  services with expertise ?
                </li>
                <li>
                  <i class='bx bxs-dog'></i>Want to be aware of
                  skilled vets near your vicinity ?
                </li>
                <li>
                  <i class='bx bxs-dog'></i>Want to adopt stray pets
                  with ease ?
                </li>
                <li>
                  <i class='bx bxs-dog'></i>Want to share intimate
                  moments with your pet with the rest of the world ?
                </li>
                <li>
                  <i class='bx bxs-dog'></i>Want to inspire other
                  people to adopt animals ?
                </li>
              </ul>
            </p>
          </div>
          <img src="./images/dogcat.png" alt="" />
        </div>
      </section>
      <!--=============== SERVICES ===============-->
      <section class="services section container" id="services">
        <h2 class="section__title">
          Some Services We <br />
          Offer
        </h2>
        <div class="services__container grid">
          <div class="services__data">
            <h3 class="services__subtitle">Pawmise Hospital</h3>
            <img
                  src="https://images.unsplash.com/photo-1577175889968-f551f5944abd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dmV0ZXJpbmFyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
                  alt=""
                />
            <p class="services__description">
                It is our mission to provide the highest standards of
                health-care to the pets we serve while investing our knowledge
                in pet owners for a healthier and better tomorrow.
            </p>
            <div>
              <a href="#" class="button button-link">Learn More</a>
            </div>
          </div>

          <div class="services__data">
            <h3 class="services__subtitle">Paw Buddies</h3>
            <img
                  src="https://images.unsplash.com/photo-1559216406-beda67bab4fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                  alt=""
                />
            <p class="services__description">
                Millions around the world have used Tinder’s swipe & match
                system to find potential dates – but now it could also help
                users find their perfect furry companion. Yeah, you heard it
                right!
            </p>
            <div>
              <a href="#" class="button button-link">Learn More</a>
            </div>
          </div>

          <div class="services__data">
            <h3 class="services__subtitle">Paw Clap</h3>
            <img
                  src="https://images.unsplash.com/photo-1505628346881-b72b27e84530?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGFuaW1hbCUyMGdyb29taW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
                  alt=""
                />
            <p class="services__description">
                Whether your headed out of town or headed into town, we offer
                a large variety of services for your pets.
            </p>
            <div>
              <a href="./pawClap/pawClap.html" target="_blank" class="button button-link">Learn More</a>
            </div>
          </div>

          <div class="services__data">
            <h3 class="services__subtitle">Paw Pet</h3>
            <img
            src="https://images.unsplash.com/photo-1548767797-d8c844163c4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
            alt=""
          />
            <p class="services__description">
                We help you to find your PERFECT Furry Friend!
            </p>
            <div>
              <a href="./pawPet/pawPet.html" target="_blank" class="button button-link">Learn More</a>
            </div>
          </div>



    

          <div class="services__data">
            <h3 class="services__subtitle">Ani Zon</h3>
            <img
            src="https://images.unsplash.com/photo-1583336663277-620dc1996580?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
            alt=""
          />
            <p class="services__description">
                AniZon with a wide variety of pet foods, toys and treats and
                  every essential for all pet types plus V.I.P. Very Important
                  Pet rewards including Autoship
            </p>
            <div>
              <a href="anizon.html" target="_blank" class="button button-link">Learn More</a>
            </div>
          </div>

          <div class="services__data">
            <h3 class="services__subtitle">Paw Fare</h3>
            <img
            src="https://www.timeforkids.com/wp-content/uploads/2020/08/animalVoting.jpg"
            alt=""
          />
            <p class="services__description">
                NGO For Street Dogs In Our Vision Is Protect To All Street
                  Dogs In Delhi & Provide Medical Treatment For Injured Dogs to
                  dogs who live on the road or Footpath.
            </p>
            <div>
              <a href="#" class="button button-link">Learn More</a>
            </div>
          </div>


          <div class="services__data__empty">
           
          </div>


          <div class="services__data">
            <h3 class="services__subtitle">Pawft</h3>
            <div class="serviceImage">
                <img
                  src="https://images.pexels.com/photos/8369837/pexels-photo-8369837.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                  alt=""
                />
              </div>
            <p class="services__description">
                NFT Pets are companions that follow the player into the
                  dungeon, and provide beneficial buffs/procs to the player!
            </p>
            <div>
              <a href="#" class="button button-link">Learn More</a>
            </div>
          </div>

          <div class="services__data__empty">
           
        </div>


        </div>
      </section>
<!--=============== Accordion ===============-->
      <section class="accordion container">
        <div class="accordion__container">
            <div class="accordion__item">
                <header class="accordion__header">
                    <i class='bx bx-plus accordion__icon'></i>
                    <h3 class="accordion__title">Want to fijjjjjjjjjjjjjjjjjjjjjjnd the right services with expertise ?</h3>
                </header>

                <div class="accordion__content">
                    <p class="accordion__description">
                        We provide with the best experts from all the pet related fields.
                    </p>
                </div>
            </div>

            <div class="accordion__item">
                <header class="accordion__header">
                    <i class='bx bx-plus accordion__icon'></i>
                    <h3 class="accordion__title">Want to adopt stray pets with ease ?</h3>
                </header>

                <div class="accordion__content">
                    <p class="accordion__description">
                        Our platform makes it easier for you to find pets and contact the owner hassle free.
                    </p>
                </div>
            </div>

            <div class="accordion__item">
                <header class="accordion__header">
                    <i class='bx bx-plus accordion__icon'></i>
                    <h3 class="accordion__title">Want to be aware of skilled vets near your vicinity ?</h3>
                </header>

                <div class="accordion__content">
                    <p class="accordion__description">
                        Our platform Pawmise Hospital has all the listings of the best vets in your radius so our pawy friend can be treated urgently.
                    </p>
                </div>
            </div>

            <div class="accordion__item">
                <header class="accordion__header">
                    <i class='bx bx-plus accordion__icon'></i>
                    <h3 class="accordion__title">Want to share intimate moments with your pet with the rest of the world ?</h3>
                </header>

                <div class="accordion__content">
                    <p class="accordion__description">
                        Paw Gram provides you with this opportunity. 
                    </p>
                </div>
            </div>
        </div>
    </section>
      <!--=============== CONTACT US ===============-->
      <section class="contact section container" id="contact">
        <div class="contact__container grid">
          <div class="contact__content">
            <h2 class="section__title-center">
              Contact Us From <br />
              Here
            </h2>
            <p class="contact__description">
              You can contact us from here, you can write to us, call us or
              visit our service center, we will gladly assist you.
            </p>
          </div>

          <ul class="contact__content grid">
            <li class="contact__address">
              Telephone:
              <span class="contact__information">+916302006563</span>
            </li>
            <li class="contact__address">
              Email:
              <span class="contact__information">hello@pp.com</span>
            </li>
            <li class="contact__address">
              Location: <span class="contact__information">Gurgaon, Harayana</span>
            </li>
          </ul>

          <div class="contact__content">
            <a href="#" class="button">Contact Us</a>
          </div>
        </div>
      </section>
    </main>

    <!--=============== FOOTER ===============-->
    <footer class="footer section">
      <div class="footer__container container grid">
        <div class="footer__content">
          <a href="#" class="footer__logo">Pamper Paws</a>
          <p class="footer__description">
            For you and your pet!
          </p>
        </div>

        <div class="footer__content">
          <h3 class="footer__title">Our Services</h3>
          <ul class="footer__links">
            <li><a href="#" class="footer__link">Paw Clap </a></li>
            <li><a href="#" class="footer__link">Anizon</a></li>
            <li><a href="#" class="footer__link">Paw Pet</a></li>
            <li><a href="#" class="footer__link">Terms of Service</a></li>
          </ul>
        </div>

        <div class="footer__content">
          <h3 class="footer__title">Our Company</h3>
          <ul class="footer__links">
            <li><a href="#" class="footer__link">Blog</a></li>
            <li><a href="#" class="footer__link">Our mision</a></li>
            <li><a href="#" class="footer__link">Get in touch</a></li>
          </ul>
        </div>

        <div class="footer__content">
          <h3 class="footer__title">Community</h3>
          <ul class="footer__links">
            <li><a href="#" class="footer__link">Support</a></li>
            <li><a href="#" class="footer__link">Questions</a></li>
            <li><a href="#" class="footer__link">Customer help</a></li>
          </ul>
        </div>

        <div class="footer__social">
          <a href="#" class="footer__social-link"
            ><i class="bx bxl-facebook-circle"></i
          ></a>
          <a href="#" class="footer__social-link"
            ><i class="bx bxl-twitter"></i
          ></a>
          <a href="#" class="footer__social-link"
            ><i class="bx bxl-instagram-alt"></i
          ></a>
        </div>
      </div>

      <p class="footer__copy">&#169; Pamper Paws. All right reserved</p>
    </footer>
    <a href="#" class="scrollup" id="scroll-up">
      <i class="bx bx-up-arrow-alt scrollup__icon"></i>
    </a>
    <script src="pamperPaw.js"></script>
  </body>
</html>
