
 /* ===== Google Font Import - Poformsins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,100;0,300;0,400;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --black-color: #45454d;
  --dark-pink: #8996a3;
  --light-pink: #ffd5d5;
  --white: #fff1e9;
  --heading-font: "Abril Fatface", cursive;
  --para-font: "Lato", sans-serif;
  --funky-font: "Pacifico", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--funky-font);
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1581888227599-779811939961?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: limegreen;
  border-radius: 10px;
  box-shadow: 0 5px 10px;
  overflow: hidden;
  margin: 0 20px;
}

.container .forms {
  display: flex;
  align-items: center;
  height: 440px;
  width: 200%;
  transition: height 0.2s ease;
}

.container .form {
  width: 50%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}

.container.active .login {
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup {
  opacity: 0;
  transition: opacity 0.09s ease;
}
.container.active .signup {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.container.active .forms {
  height: 600px;
}
.container .form .title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
}

.form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: var(--dark-pink);
  border-radius: 25px;
}

.form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.input-field input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  /* border: none; */
  /* outline: none; */
  font-size: 16px;
  /* border-bottom: 2px solid #ccc; */
  /* border-top: 2px solid transparent; */
  transition: all 0.2s ease;
}

/* .input-field input:is(:focus, :valid) {
  border-bottom-color: var(--dark-pink);
} */

.input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i {
  color: var(--dark-pink);
}

.input-field i.icon {
  left: 0;
}
.input-field i.showHidePw {
  right: 0;
  cursor: pointer;
  padding: 10px;
}

.form .checkbox-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
}

.checkbox-content input {
  margin: 0 8px -2px 4px;
  accent-color: var(--dark-pink);
}

.form .text {
  color: #333;
  font-size: 14px;
}

.form a.text {
  color: var(--dark-pink);
  text-decoration: none;
}
.form a:hover {
  text-decoration: underline;
}

.form .button {
  margin-top: 35px;
}

.form .button input {
  /* border: none; */
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  /* border-radius: 6px; */
  background-color: var(--dark-pink);
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input:hover {
  background-color: var(--light-pink);
}

.form .login-signup {
  margin-top: 30px;
  text-align: center;
}

.valid {
  border-bottom-color: green;
}
.invalid {
  border-bottom-color: red;
}

input {
  border: none;
  outline: none;
  border-bottom: 2px black solid;
}